<div class="re">
    <div class="contain">
        <h1 data-aos="fade-up">About Finlogik</h1>
    </div>
    <div class="mes" data-aos="fade-up">
        <div class="me">
            <h3 data-aos="fade-up">Our mission</h3>
            <p data-aos="fade-up">At Finlogik, we develop a passion for financial innovation.
                Finlogik has been delivering value added fintech solutions for over 15 years.
                From family office to global investment manager or industrial treasury to megapole, Finlogik
                clientele
                is as
                broad as
                its financial technology knowledge.</p>
        </div>
        <div class="me">
            <h3 data-aos="fade-up">Our story</h3>
            <p data-aos="fade-up">Finlogik, a fintech pioneer, thrived for over 15 years by fueling financial innovation. Their client base ranged from
            family offices to global investment giants and industrial treasuries to megacorporations.</p>
        </div>
        <div class="im" data-aos="fade-up">
            <img src="./assets/images/IM.png">
        </div>
    </div>
</div>