<!-- footer -->
<footer>
    <div class="contact-container">
        <div class="identity">
            <div class="ip">
                <img [src]="imageSrc">
            </div>
            <h5 class="slogon">Fueling Financial Futures through Tech Innovation</h5>
        </div>
        <div class="social-media">
            <div class="icon">
                <a href="" target="_blank" class="contact-icon">
                    <i class="fab fa-linkedin"></i></a>
            </div>
            <div class="icon">
                <a href="#" target="_blank" class="contact-icon">
                    <i class="fab fa-facebook"></i></a>
            </div>
            <div class="icon">
                <a href="#" target="_blank" class="contact-icon"><i class="fab fa-twitter"></i></a>
            </div>
            
        </div>
    </div>
    <div class="copyright">&copy;FINLOGIK 2023 | Welcome to our new recruiters</div>
</footer>